@rendermode InteractiveServer

<PageTitle>Secrets</PageTitle>
<h1>Secrets</h1>

<EditForm Model="@_model" OnValidSubmit="PostSecretAsync" FormName="secrets"
          class="row row-cols-lg-auto g-3 align-items-center py-4">
    <div class="row col-auto">
        <div class="col-auto">
            <label for="name" class="col-form-label">Name:</label>
        </div>
        <div class="col-auto">
            <input type="text" id="name" class="form-control" autocomplete="off"
                   onfocus="this.removeAttribute('readonly');" />
        </div>
    </div>
    <div class="row col-auto">
        <div class="col-auto">
            <label for="value" class="col-form-label">Value:</label>
        </div>
        <div class="col-auto">
            <input @ref="_valueInput" type="password" id="value" class="form-control" autocomplete="off" />
            <i class="bi @(_showValue ? "bi-eye-slash" : "bi-eye")" @onclick="@ToggleValueVisibility"></i>
        </div>
    </div>
    <div class="row col-auto">
        <button type="submit" class="btn btn-primary" disabled="@_isCreatingSecret">
            + Add Secret
        </button>
    </div>
    <AntiforgeryToken />
</EditForm>

@if (_secrets is null)
{
    <p>
        <div class="d-flex align-items-center">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <strong role="status" class="ps-4">Loading...</strong>
        </div>
    </p>
}
else if (_secrets.Length is 0)
{
    <p>
        <div class="d-flex align-items-center">
            <strong role="status">No secrets found... Try adding some!</strong>
        </div>
    </p>
}
else
{
    <ul>
        @foreach (var secret in _secrets)
        {
            <li>@secret</li>
        }
    </ul>
}
